*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	-webkit-overflow-scrolling: touch;
}

body {
	padding: 0;
	margin: 0;
	width: 100vw;
	display: flex;
	align-items: center;
	flex-direction: column;
	font-family: "Nunito", "-apple-system", "BlinkMacSystemFont", "Roboto",
		"Helvetica Neue", "sans-serif ";
	text-transform: none;
	font-size: 100%;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	position: relative;
	box-sizing: border-box;
}
div#root {
	width: 100%;
	overflow: scroll;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
.flex {
	display: flex;
}
.flex-right {
	margin-left: auto;
}
.flex-left {
	margin-right: auto;
}
.flex-column {
	flex-flow: column;
}

.flex-center {
	justify-content: center;
	width: 100%;
	text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}
ul {
	list-style: none;
}

.offers {
	padding-top: 4rem;
}
.container {
	margin: 0 auto;

	@media (min-width: 992px) {
		max-width: 960px;
	}

	@media (min-width: 1340px) {
		max-width: 1184px;
	}
}

.row {
	display: flex;
	flex-wrap: wrap;
	& > * {
		width: 100%;
	}
	&:before,
	&:after {
		content: " ";
		display: flex;
	}
}

.mt-65 {
	margin-top: 65px !important;
}

@media (max-width: 992px) {
	.hu-992 {
		display: none !important;
	}
}
