.card-listing-details {
	display: flex;
	align-items: center;
	padding: 18px 32px;
	min-height: 130px;

	.card-listing-description {
		width: 220px;
		text-align: initial;
		transition: 0.3s;
		.card-listing-title {
			font-size: 18px;
			color: #333;
			line-height: 28px;
			white-space: nowrap;
			overflow: hidden;
			cursor: pointer;
			font-weight: 600;
			padding-top: 2px;
		}
		.card-icons {
			display: flex;
			padding: 0;
			margin: 3px 0 0 -3px;
			li {
				display: flex;
				padding: 0;
				margin: 0;
				margin-right: 10px;
				color: gray;
				font-size: 14px;
				svg {
					color: #909090;
					font-size: 18px;
					position: relative;
					top: 1px;
					margin-right: 4px;
				}
			}
		}
	}
}

.card-offers {
	margin-left: auto;
	display: flex;
	flex-flow: column;
	text-align: right;
	justify-content: flex-end;

	strong {
		display: block;
		color: #333;
		font-weight: 600;
		line-height: 24px;
	}
	span {
		display: block;
		color: #888;
		line-height: 16px;
	}
}
